Automat==25.4.16
Incremental==24.11.0
Jinja2==3.1.6
PyJWT==2.12.1
channels==4.3.2
django-cors-headers==4.9.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
pip-autoremove==0.10.0
pip-chill==1.0.5
pipdeptree==2.34.0
psycopg2-binary==2.9.10
pyOpenSSL==26.0.0
pyasn1_modules==0.4.2
python-dotenv==1.2.2
torchvision==0.26.0
